@import "skeleton";
@import "partials/queries";
@import "partials/contact";
@import "comingsoon";
@import "partials/gallery-draft";
@import "partials/gallery-draft-2";
@import "partials/home-slider";






// Global Var //
$orange: #F7941E;
$grey: #818285;
$dark-grey: #78797B;
$light-grey: #b3b3b3;
$light-grey-2: #e6e6e6;
$darker-grey:#A9A9A9;
$grey-variant: #DFE1E0;
$white: #F3F3F3;
$copper-red: #b87333;
$gold: #DAA45C;
$goldish: #FFF4CA;
$orangish: #D46E50;
$yellow-var:#F0DDB3;
$brown: #403A34;
$brown-var: #6D5546;
$black: #2A2827;
$blue: #00B8CA;


// Mixin //
$prefix:'-moz-', '-webkit-', '-o-', '-ms-', '';
// ********************
// fadeIn
// ********************
@mixin keyframe-fadeIn {
  0%   { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-webkit-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-o-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-ms-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@keyframes fadeIn {
  @include keyframe-fadeIn;
}
@mixin fadeIn( $arg ) {
  $keyframe-name:fadeIn;
  $duration:$arg;
  @each $p in $prefix {
    #{$p}animation:$keyframe-name $duration;
  }
}

body {
    @include fadeIn(1s);
}

.main-carousel {
        padding-top: 20px;
}


// HEADER IMAGE & LOGO //
.top-header {
        height: 280px;
        // background-color: $grey-variant;
        padding-top: 2.5vh;
        padding-bottom: 3vh;
        // border: 1px solid green;
.nav-header {
        // display: flex;
        // flex-direction: row;
        // align-items: center;
        display: grid;
        grid-template-rows: 380px auto;
        height: 280px;
        border-top:6px double $light-grey;
        // border-bottom:6px double $light-grey;
#nav-logo {
        // display: flex;
        // justify-content: center;
        // background: url('https://res.cloudinary.com/hsi/image/upload/v1554782638/BCKC/backgrounds/circuit.png');
        background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .2)),
        url('https://res.cloudinary.com/hsi/image/upload/v1554783279/BCKC/backgrounds/full-bloom.png');
        display: grid;
        // grid-template-columns: 150px auto;
        grid-template-rows: 38px 190px;
        // border: 2px solid red;
        height: 230px;
.nav-logo-link {
    width: 160px;
    height: 160px;
    text-decoration: none;
    list-style-type: none;
img {
        position: absolute;
        left: 18%;
        top: 6vh;
        // bottom: -50%;
        height: 160px;
        width: 160px;
  }
}
.nav-headings {
  display: flex;
  flex-direction: row;
  height: 140px;
  justify-content: center;
  width: 100%;
h1 {
        display: flex;
        justify-content: center;
        color: $grey;
        font-family: 'Raleway';
        font-size: 3.2em;
        font-weight: bold;
        letter-spacing: 2px;
        // margin: 0;
        margin-left: 12%;
        margin-top: 4rem;
        width: 100%;
       text-shadow: #e0e0e0 1px 1px 0;
  span {
        color: $orange;
         display: flex;
        justify-content: center;
        padding-left: 1rem;
        text-shadow: #e0e0e0 1px 1px 0;
  }
    }
}
}    
}
}

                // NAVBAR //
.main-navigation{
        display: grid;
        // grid-template-columns: 500px;
        grid-template-rows: 100%;
        // border: 2px solid red;
        height: 60px; 
        // width: 900px;
.menu {
        border-top: 6px double $light-grey;
        // border-bottom: 2px solid $grey;
        border-bottom:6px double $light-grey;
        display:flex;
        flex-direction:row;
        justify-content: space-evenly;
        align-items: baseline;
        // border: 2px solid red;
        height: 40px;
        // width: 800px;
        // width: 900px;
li{
        display:flex;
        // flex-direction: row;
        // justify-content: space-evenly;
        // align-self: center;
        list-style-type:none;
        text-transform:uppercase;
        // 
        font-family: 'Raleway';
        font-weight: bold;
        letter-spacing: 2px;
        // margin: 1rem;
a {
        display:flex;
        // justify-content: center;
        text-align:center;
        text-decoration:none;
        color: $grey;
        padding: 1rem;
        // height: 50px;
&:hover {
        color: $orange;
        // background-color: $white;
        -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-property: color;
      transition-property: color;
        border-radius: 16px;
}
}
  }
}
}
                  // END OF NAVBAR //

                    // FOOTER //
footer {
        margin-top: -2px;
.social-footer-connect {
      background: $dark-grey;
      display: flex;
      flex-direction: row;
      padding: 10px;
      margin-top: 2px;
      justify-content: space-evenly;
      align-items: center;
      height: 59px;
 
 .flex-items {
      font-family: 'Raleway';
      font-size: 1em;
      font-weight: bold; 
      text-transform: uppercase;
      align-self: center;
      margin: 0;
      padding: 0;
 }
  a {
      color: $black;
    &:hover {
      color: $grey-variant;
    }
  }

}
}
                      // END OF FOOTER //

                      // ABOUT US PAGE //
.about-us {
  max-width: 1200px;
  img {
    display: flex;
    justify-content: flex-start;
    // width: 500px;
    height: 600px;
    margin: 2rem;
    padding: 1rem;
  }
h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom:6px double $light-grey;
  // align-content: baseline;
  font-family: 'Playfair Display';
  // text-align: center;
  padding: 1rem;
  margin: 2rem;
}
  span {
    color: $black;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway';
    font-size: 2rem;
    // justify-content: flex-start;
    // align-self: flex-start;
    text-align: center;
    padding:1rem;
  }
  }
                    // END OF ABOUT US //

                      // SERVICES //
section {
.services-picture-row,
.services-header-row {
          display: flex;
          flex-direction: row;

.service-img {
          display: flex;
          margin: .1em;
          padding: .3em;
          flex: 1;
          // justify-content: flex-start;
          justify-content: center;
}
.service-headings {
          display: flex;
          margin: .1em;
          padding: .3em;
          flex: 1;
          align-items: center;
          justify-content: center;
h2 {
          text-align: center;
}
}
}
}
                // END OF SERVICES PAGE //


// CONTACT US //

