.gallery-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(880px, 1fr));
            grid-gap: 20px;
            align-items: stretch;
            padding: 1em;
.grid-item {
            border: 1px solid #ccc;
            box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
            max-width: 100%;
#carol-img {
            background: url('https://lh3.googleusercontent.com/GQdz4qGBQXHc8wPeVckqRNRVRXbRsYJR-n0diPv9vqxY-zMv7AbcfDDRgH8MIuKI2vFJMTQYZxXxeAMrpi83PzOs3TFOxN7pkNOALUOUCH25eNCctIPn1M1O0FlL3x-cMDFbsTHTnQ=w2400') center no-repeat;
            display: flex;
            background-size: cover;
            height:680px;
            flex: 1;
            justify-content: center;
            align-items: center;
}
#epping-img {
            background: url('https://lh3.googleusercontent.com/rKPD6ZKL7NMBtxgYDeTIH6bFBvwTLuy-NCkIVEvbpN73m5b7OWMB75eMunhEIWx2QpXH1n8z6wwiiGn_mO-NKCluusWqxQKcLWXyhkeCOYZxoRVT8P6oaGVdLwhnYKygmx2RBIOMzA=w2400') center no-repeat;
            display: flex;
            background-size: cover;
            height:680px;
            flex: 1;
            justify-content: center;
            align-items: center;            
}
#keith-img {
            background: url('https://lh3.googleusercontent.com/M1P97CDKsMPqwbQt2dWl1zTJ2cObHuqztk_Up4K8xEzGAVPr5UxZY30dhqPuHyoO_2tz7HZHrbn0mDWKjHb5s-16xj3KntBz8Lto3EdVJF_W2hAYJLxmXPZR_TXJa8HdOKtPSbFhtw=w2400') center no-repeat;
            display: flex;
            background-size: cover;
            height:680px;
            flex: 1;
            justify-content: center;
            align-items: center;            
}
#norbury-img {
            background: url('https://lh3.googleusercontent.com/uApUHBZRT_xrZ5St9wXAtdKidL0qKWBW80U_NvAWNmO2OHGDK815Ujf7H1yur3sY4fm-bEMpSIKHAHaX8CIJ07Xr492b8mEHaVPvTocO02NBa5QM5KcCMO7QyuavyEJGmOktYnqMJA=w2400') center no-repeat;
            display: flex;
            background-size: cover;
            height:680px;
            flex: 1;
            justify-content: center;
            align-items: center;            
}

#northvan-img {
            background: url('https://lh3.googleusercontent.com/ncJIej3vLg505ShfA-lu_ZVem6royzloKHHrLcgMnDN9GevsfYhB66ndH-EVDvRybwbO1unsgIUJKeRYA5Y5rS2pRmAxqfmNkYDfammlwpGdBS-ERUrrIFbv6qdGaKdPN5DiUtNzrQ=w2400') center no-repeat;
            display: flex;
            background-size: cover;
            height:680px;
            flex: 1;
            justify-content: center;
            align-items: center;
}
#paroo-img {
            background: url('https://lh3.googleusercontent.com/0oKX-J4gwY1G7JMOLOR2Ccz6D51KtHN9T-CDkM6-3eMqhXizuA-zw1487lrIq-3wvwSJaUnAfc9D22dO6joh6UxO0xiHC_ZDmSoXQhon4Z7Dok2KR7aUn4oxDmJU-duIEMkr1a-xMQ=w2400') center no-repeat;
            display: flex;
            background-size: cover;
            height:680px;
            flex: 1;
            justify-content: center;
            align-items: center;
}
.btn-popup-carol,
.btn-popup-epping,
.btn-popup-keith,
.btn-popup-norbury,
.btn-popup-northvan,
.btn-popup-paroo {
            
            font-size: 3em;
            font-weight: bold;
            letter-spacing: 1rem;
            text-decoration: none;
            color: $white;
            height: 90px;
            text-align: center;
            padding: 10px;
            // width: 80%;
            // overflow-wrap: break-word; 
            // word-wrap: break-word;
            // border: 2px solid green;
            border: 4px solid $white;


&:hover {
            
            transition: all 0.8s ease;
            background: rgba(0, 0, 0, 0.6);
            opacity: 1;
}
}


}
}            
.gallery-grid-2 {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(880px, 1fr));
            grid-gap: 20px;
            align-items: stretch;
            padding: 1em;
#wellsgreen-img {
            background: url('https://lh3.googleusercontent.com/62xgm5zwSDaBpi9TU3_0eB41Whzu84xydlLOd-96D6QXGbZYXVWlxRjt18QGQ-ldcrBwF-gnJ6_QFc_PF2-jU6cSJ8i0G1BxY3fuy7EctIWi3fdKBMgkjRW4W0hi1EN_vI_bOqT0ow=w2400') center no-repeat;
            display: flex;
            background-size: cover;
            height:680px;
            flex: 1;
            justify-content: center;
            align-items: center;            
}
#willoughby-img {
            background: url('https://lh3.googleusercontent.com/JK0msb66DLZSaH14NX6L8UHk8zZ013y7PbMO-chiBQkK29bO-sJH8aORpocsaihEfnw67iCcIBZd3x9-iCnr6HyOxvD8HQR59ybQQZctODKTfcaKGwUOXk0R9ANefExA8qyzIPjI4g=w2400') center no-repeat;
            display: flex;
            background-size: cover;
            height:680px;
            flex: 1;
            justify-content: center;
            align-items: center;            
}
.btn-popup-wellsgreen,
.btn-popup-willoughby, {
            
            font-size: 3em;
            font-weight: bold;
            letter-spacing: 1rem;
            text-decoration: none;
            color: $white;
            height: 90px;
            text-align: center;
            padding: 10px;
            // width: 80%;
            // overflow-wrap: break-word; 
            // word-wrap: break-word;
            // border: 2px solid green;
            border: 4px solid $white;


&:hover {
            
            transition: all 0.8s ease;
            background: rgba(0, 0, 0, 0.6);
            opacity: 1;
}
}
}

//  CAROL GALLERY IMAGES //
.gallery-carol {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
            // grid-gap: 10px;
            align-items: center;
figure {
img {
            border: 1px solid #ccc;
            box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
            max-width: 100%;    
}
}
}

//GALLERY-MODAL //
// MODAL LIGHTBOX //


