
@mixin for-phone-only {
  @media (min-width: 300px) and (max-width:599px) {@content;}
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {@content;}
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

.top-header {
  .nav-header {
    @include for-phone-only {
      grid-template-rows: 600px auto !important;
    }
    #nav-logo {
      #logo-link-img {
        @include for-phone-only {
          width: 90px;
          height: 90px;
          top: 11vh;
          left: 50%;
      }
    }
  }
}
}
.nav-headings {
  h1 {
    @include for-phone-only {
      margin-top: 3rem !important;
      margin-left: 8%  !important;
      font-size: 2.8em !important;

      span {
        @include for-phone-only {
          padding-left: 5rem !important;
          margin-left: 3.5rem;
        }
      }
    }


  }

}

